* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: white;
  }
  
  /* HEADER */
  .searchbarHeader {
    background-color: white; /* fondo blanco como en el wireframe */
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 0; /* sin espacio entre input y botón */
  }
  
  .inputText {
    padding: 0.8rem 1rem;
    width: 300px;
    background-color: #ffa07a; /* color salmón claro */
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 16px;
    color: white;
  }
  
  .botonHeader {
    background-color: #4d4d4d; /* gris oscuro */
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  

  /* NAVBAR */
.navbar {
  background-color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navbar li a {
  background-color: #e0e0e0;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: lowercase;
  display: inline-block;
}

  
  /* SECCIÓN PRINCIPAL */
  .section1 {
    background-color: #ccf0f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .imagen-hero img {
    width: 100px;
    height: 100px;
    display: flex;

  }
  
  .texto-hero {
    margin-bottom: 1rem;
    color: #333;
    display: flex;

  }
  
  /* TARJETAS */
  .tarjetas {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .tarjeta {
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    color: #333;
  }
  
  .tarjeta.naranja {
    background-color: #ffa07a;
  }
  
  .tarjeta.celeste {
    background-color: #b2e6ec;
  }
  
  .tarjeta.amarilla {
    background-color: #fcd76a;
  }
  
  .imagen-placeholder {
    width: 100%;
    height: 100px;
    background-color: #89c9d0;
    margin-bottom: 1rem;
  }
  